#navLinks a {
	margin: 7px;
}

#shop {
	margin-top: 45px;
	margin-bottom: 45px;
}

#shop-tees {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#world-a {
	display: flex;
	flex-direction: row;
}

#a-scrolls {
	text-align: center;
	margin-top: 20px;
}

#a-scrolls a {
	margin: 10px;
	font-size: 1rem;
}

#home-world-col {
	margin-top: 30px;
}

#character-card {
	width: 100%;
	border: none;
}

#playlist-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#uncontrolled-tab-example-tab-kirk {
	margin-right: 3px;
	padding-left: 8px;
	padding-right: 8px;
}
#uncontrolled-tab-example-tab-steve {
	margin-right: 3px;
	padding-left: 8px;
	padding-right: 8px;
}
#uncontrolled-tab-example-tab-kms {
	margin-right: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

#uncontrolled-tab-example-tab-a {
	margin-right: 10px;
}

#uncontrolled-tab-example-tab-g {
	margin-right: 10px;
}

#uncontrolled-tab-example-tab-m {
	margin-right: 10px;
}

#uncontrolled-tab-example-tab-t {
	margin-right: 10px;
}
